#delete {
  color: white;
}
#deleteButton {
  background-color: red;
  border-radius: 10%;
}
#edit {
  color: white;
}
#editButton {
  background-color: steelblue;
  border-radius: 10%;
  margin-right: 10%;
}
