#container {
  margin-left: 6%;
}

.buttonClass {
  margin-left: 30%;
  margin-right: 30%;
}

.square {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
  font-size: 36px;
}

h2 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin-left: 6%;
  margin-right: 6%;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}
